:root{
    --white:#F5F5F5;
    --darkgold:#68571C;
    --lightgold:#C1A031;
    --gold:#D7AB28;
    --bg:#0F0C03;
}

@font-face {
    font-family: antipasto;
    src: url(./Fonts/Antipasto-Pro-Regular-trial.ttf);
}

@font-face {
    font-family: Bigillablod;
    src: url(./Fonts/Bigilla-Bold.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
}

main{
    width: 100%;
    // padding: 1.5rem;

    section.view1{
        position: fixed;
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color:var(--bg);
        color: var(--lightgold);
        .main_box{
            position: relative;
            #check{
                display: none;
            }
            .btn_one{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 1rem;
                .top_btn_one{
                    width: 10rem;
                    height: 4rem;
                    overflow: hidden;
                    img{
                        width: 8rem;
                        object-fit: contain;
                    }
                }
                .bottom_btn_one{
                    font-size: 1.5rem;
                    &:hover{
                        font-size: 2rem;
                    }
                }
            }
        }
        .sidebar_menu{
            display: flex;
            flex-direction: column;
            gap: 1vw;
            padding: 1rem;
            width: 100%;
            background-color: var(--bg);
            position: absolute;
            left: -150%;
            font-family: Bigillablod;
            transition: all 0.5s ease-in-out;
            .top{
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;
                .logo{
                    width: 20rem;
                    height: 8rem;
                    overflow: hidden;
                    img{
                        width: 15rem;
                        object-fit: contain;
                        cursor: pointer;
                    }
                }
                .btn_two{
                    position: absolute;
                    top: 1rem;
                    right:1rem;
                    font-size: 1rem;
                    cursor: pointer;

                    &:hover{
                        font-size: 1.5rem;
                    }
                }

            }
            .bottom{
                display: flex;
                flex-direction: column;
                gap: 15rem;
                padding: 2rem;
                .menu ul{
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                    a{
                        text-decoration: none;
                        color: var(--lightgold);
                    }
                    li{
                        display: flex;
                        gap: 1rem;
                        padding: 1rem;
                        cursor: pointer;
                        letter-spacing: 2px;
                        font-size: 1.5rem;

                        &:hover{
                            box-shadow: 0 1px 1px var(--gold) ;
                            border: 1px solid var(--gold);
                        }
                    }
                }

                .social_media ul{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 1rem;
                    a{
                        text-decoration: none;
                        color: var(--darkgold);
                        i{
                            font-size: 1rem;
                            &:hover{
                                color: var(--gold);
                                font-size: 1.5rem;
                            }
                        }
                    }
                }
            }
        }
        #check:checked ~ .sidebar_menu{
            left: 0%;
        }
        #check:checked ~ .btn_one{
            display: none;
        }
    }
}
